/*************************************************
**************************************************

Website Name: 
Website URL: https://dragonruler1000.github.io/personal-site/
Website Author: Zachariah Jacksonm 
Author URL: 
CC BY-SA Zachariah

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 16px;
}

a {
  color: blue;
}

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
body {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin: 8px;
}

p,
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

dd {
  display: block;
  margin-inline-start: 40px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block: 0.67em;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 0.67em;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block: 1em;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-block: 1.33em;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin-block: 1.67em;
}

h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin-block: 2.33em;
}

/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
4. Sidebar Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
5. Widget Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
----------------------------------------------*/